body 
{ 
  background:url('/images/social_bg.jpg');
  color: #817460;
  margin:0;
  padding:0;
}

body, p, ol, ul, td {
  font-family: arial, helvetica, sans-serif;
  font-size:   13px;
}

h1, h2, h3, h4
{
  font-family: "lemonde-sans-1","lemonde-sans-2",sans-serif;
  font-weight:normal;
}

h2
{
  font-size:28px;
}

h3
{
  font-weight:normal;
  font-size:24px;
  margin-bottom:5px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

p
{
  font-size:14px;
  margin:15px 0;
  line-height:1.6;
}

a 
{ 
  color: #439c90; 
  text-decoration:none;
}

img
{
  border:none;
}

.notop
{
  margin-top:0;
}

div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* Main Styles */

.align_right
{
  text-align:right;
}

.right
{
  float:right;
}

.left
{
  float:left;
}

/* Structure */

.topbar
{
  padding:5px 0;
  height:30px;
  background:url('/images/white_bg.png');
  width:100%;
  margin-bottom:10px;
}

.topbar ul
{
  margin:0;
  padding:5px 0;
  text-align:right;
  float:right;
}

.topbar ul li
{
  list-style:none;
  display:inline;
  margin:0 10px;
  font-size:14px;
}

.wrapper
{
  width:940px;
  padding:18px 10px;
  margin:0 auto;
}

.wrapper2
{
  width:940px;
  margin:0 auto;
}

.col1
{
  width:300px;
  margin-right:20px;
  float:left;
}

.col2
{
  width:300px;
  margin-right:20px;
  float:left;
}

.col3
{
  width:300px;
  float:left;
}

h1.quinect
{
  background:url('/images/quinect.png');
  width:300px;
  height:84px;
  text-indent:-9998px;
  margin:0;
}

/* Login Forms */

.login
{
  background:url('/images/white_bg.png');
  padding:20px 30px;
  width:240px;
}

.hide
{
  display:none;
}

.new
{
  background:url('/images/black_bg.png');
  padding:20px 30px;
  width:240px;
}

.login h3
{
  margin:0 0 5px;
}

.new h3
{
  margin:0 0 5px;
}

.login form p, .new form p { position:relative }

.login label, .new label  { 
  position:absolute; 
  top:7px; 
  left:5px;
  font-size:16px;
  color:#a89271;
  font-family:Georgia,serif;
}

.login input, .new input
{
  background:#faf4e7;
  border:1px #cdbda6 solid;
  -moz-border-radius:7px;
  border-radius:7px;
  font-size:16px;
  color:#a89271;
  height:35px;
  font-family:Georgia,serif;
  width:220px;
  padding:0 5px;
}

.login input.submit
{
  background:#439c90;
  border:1px #8fb381 solid;
  -moz-border-radius:7px;
  border-radius:7px;
  font-size:16px;
  color:#faf4e7;
  width:120px;
  height:35px;
  font-family:Arial, sans-serif;
}

.forgot
{
  display:inline-block;
  margin-top:10px;
}

.error
{
  padding:5px;
  border:1px solid #f88a6c;
  color:#ec542c;
  background:#f9c9bb;
}

a.create, .register
{
  background:#439c90;
  border:1px #8fb381 solid;
  -moz-border-radius:7px;
  border-radius:7px;
  font-size:16px;
  color:#faf4e7;
  display:inline-block;
  height:17px;
  padding:9px 15px;
  text-decoration:none;
  font-family:Arial, sans-serif;
  margin:4px;
}

.new input.submit, input.post
{
  background:#439c90;
  border:1px #8fb381 solid;
  -moz-border-radius:7px;
  border-radius:7px;
  font-size:16px;
  color:#faf4e7;
  display:inline-block;
  padding:3px 15px;
  text-decoration:none;
  font-family:Arial, sans-serif;
  margin:4px;
}

h3.news
{
  padding-bottom:10px;
  border-bottom:1px solid #c1a97b;
  margin-bottom:5px;
}

label.error
{
  background:none;
  border:none;
  color:#6e5e45;
  font-size:11px;
  top:31px;
  font-family:Arial;
}

/* Twitter Styles */
img.twitter
{
  float:left;
  border:4px solid #faf4e7;
  margin-right:6px;
  width:48px;
}

.info
{
  margin:10px;
  clear:left;
}

ul.tweets
{
  list-style:none;
  margin:0;
  padding:0;
}

ul.tweets li
{
  padding:10px;
}

ul.tweets li:nth-child(2n)
{
  background:url('/images/white_bg.png');
}

textarea.twitter_post
{
  background:#faf4e7;
  border:1px #cdbda6 solid;
  color:#a89271;
  width:300px;
  height:60px;
}

textarea.facebook_post
{
  background:#faf4e7;
  border:1px #cdbda6 solid;
  color:#a89271;
  width:300px;
  height:80px;
}

textarea.reply_post
{
  background:#faf4e7;
  border:1px #cdbda6 solid;
  color:#a89271;
  width:260px;
  height:50px;
}

.reply_hide
{
  display:none;
}

/* Facebook */
ul.facebook
{
  list-style:none;
  margin:0;
  padding:0;
}

ul.facebook li
{
  padding:10px;
}

ul.facebook li:nth-child(2n)
{
  background:url('/images/black_bg.png');
}

ul.facebook p
{
  font-size:13px;
  line-height:1.3;
}

.facebook_pic
{
  float:left;
  border:4px solid #ecdcbd;
  margin:0 8px 8px 0;
}

/* clearfix */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}