body 
{ 
  background:url('/images/social_bg.jpg');
  color: #817460;
  margin:0;
  padding:0;
}

body, p, ol, ul, td {
  font-family: arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

h1, h2, h3, h4
{
  font-family: "lemonde-sans-1","lemonde-sans-2",sans-serif;
}

h3
{
  font-weight:normal;
  font-size:24px;
  margin-bottom:5px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

p
{
  font-size:14px;
  line-height:1.6;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* Main Styles */

#wrapper
{
  width:940px;
  padding:18px 10px;
  margin:0 auto;
}

.col1
{
  width:300px;
  margin-right:20px;
  float:left;
}

.col2
{
  width:300px;
  margin-right:20px;
  float:left;
}

.col3
{
  width:300px;
  float:left;
}

h1.quinect
{
  background:url('/images/quinect.png');
  width:300px;
  height:84px;
  text-indent:-9998px;
  margin:0;
}

/* Login Forms */

.login
{
  background:url('/images/white_bg.png');
  padding:20px 30px;
  width:240px;
}

.login h3
{
  margin:0 0 5px;
}

.login form p { position:relative }

.login label  { 
  position:absolute; 
  top:7px; 
  left:5px;
  font-size:16px;
  color:#a89271;
  font-family:Georgia,serif;
}

.login input
{
  background:#faf4e7;
  border:1px #cdbda6 solid;
  -moz-border-radius:7px;
  border-radius:7px;
  font-size:16px;
  color:#a89271;
  height:35px;
  font-family:Georgia,serif;
  width:220px;
  padding:0 5px;
}

.login input.submit
{
  background:#439c90;
  border:1px #8fb381 solid;
  -moz-border-radius:7px;
  border-radius:7px;
  font-size:16px;
  color:#faf4e7;
  width:120px;
  height:35px;
  font-family:Arial, sans-serif;
}

a.create
{
  background:#439c90;
  border:1px #8fb381 solid;
  -moz-border-radius:7px;
  border-radius:7px;
  font-size:16px;
  color:#faf4e7;
  display:inline-block;
  height:17px;
  padding:9px 15px;
  text-decoration:none;
  font-family:Arial, sans-serif;
  margin:4px;
}

h3.news
{
  padding-bottom:10px;
  border-bottom:1px solid #c1a97b;
  margin-bottom:5px;
}