<h1>Welcome</h1>
<p>Login:</p>
<form id="login" method="post" action="/users/authenticate">
	<label for="username">Username:</label>
	<input name="username" type="text" /><br />
	<label for="password">Password:</label>
	<input name="password" type="password" />
	<input type="submit" />
</form>

<% if session[:user] %>
 Hello	<%= session[:user].name %>!

<p>Register Your account on Twitter!</p>
<form id="twitter" action="/home/register">
	<input type="submit" value="Register">
</form>
<% end %>